<div ng-controller="DrawerController">

  <super-navbar>
    <super-navbar-title>
      Drawer
    </super-navbar-title>
  </super-navbar>
  <div class="list">
      <super-navigate location="home#index" class="item item-icon-left" onclick="supersonic.ui.drawers.close()">
          <i class="icon icon-accessory super-home"></i>
          Home
      </super-navigate>
      <super-navigate location="settings#index" class="item item-icon-left item-icon-right" onclick="supersonic.ui.drawers.close()">
          <i class="icon icon-accessory super-gear-a"></i>
          Settings
          <i class="icon icon-accessory super-chevron-right"></i>
      </super-navigate>
  </div>


    <button class="button button-positive button-block" ng-click="supersonic.ui.drawers.close()">
      Close this menu
    </button>


</div>
